In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from selenium import webdriver

In [2]:
options = webdriver.ChromeOptions() 
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, options=options)

[WDM] - Downloading: 100%|██████████████████████████████████████████████████████████████████████████████████████| 6.58M/6.58M [00:00<00:00, 27.2MB/s]

In [23]:
url = 'https://redplanetscience.com/'

In [24]:
browser.visit(url)

In [25]:
html = browser.html
soup = BeautifulSoup(html)
type(soup)

bs4.BeautifulSoup

In [26]:
soup = BeautifulSoup(browser.html, 'html.parser')

In [27]:
tortillas = soup.find_all('div', class_="col-md-8")
len(tortillas)

15

In [28]:
tortilla = tortillas[0]
tortilla

<div class="col-md-8">
<div class="list_text">
<div class="list_date">December 30, 2022</div>
<div class="content_title">Mars Is Getting a New Robotic Meteorologist</div>
<div class="article_teaser_body">Sensors on NASA's Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles.</div>
</div>
</div>

In [29]:
rows = []

for tortilla in tortillas: 
    title = tortilla.find("div", {"class": "content_title"}).text
    tease = tortilla.find("div", {"class": "article_teaser_body"}).text
        
    data = {'title': title, 'tease': tease}
    rows.append(data)

df = pd.DataFrame(rows)

In [30]:
df.head()

,title,tease
0,Mars Is Getting a New Robotic Meteorologist,Sensors on NASA's Perseverance will help prepa...
1,NASA's Perseverance Rover Mission Getting in S...,Stacking spacecraft components on top of each ...
2,NASA's Treasure Map for Water Ice on Mars,A new study identifies frozen water just below...
3,NASA's Curiosity Rover Finds an Ancient Oasis ...,"New evidence suggests salty, shallow ponds onc..."
4,"NASA, ULA Launch Mars 2020 Perseverance Rover ...",The agency's Mars 2020 mission is on its way. ...

In [11]:
df.to_json("mars_news.json", orient="records")

In [12]:
#Part 2

In [13]:
# https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html

In [31]:
# Visit the website
# https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html
url2 = 'https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html'

In [32]:
browser.visit(url2)

In [33]:
html = browser.html
soup = BeautifulSoup(html)
type(soup)

bs4.BeautifulSoup

In [34]:
soup = BeautifulSoup(browser.html, 'html.parser')

In [35]:
chickenoodle = soup.find_all('tr', class_="data-row")
len(chickenoodle)

1867

In [19]:
# id: the identification number of a single transmission from the Curiosity rover
# terrestrial_date: the date on Earth
# sol: the number of elapsed sols (Martian days) since Curiosity landed on Mars    
# ls: the solar longitude    
# month: the Martian month    
# min_temp: the minimum temperature, in Celsius, of a single Martian day (sol)    
# pressure: The atmospheric pressure at Curiosity's location

In [36]:
noodle = chickenoodle[0]
noodle

<tr class="data-row">
<td>2</td>
<td>2012-08-16</td>
<td>10</td>
<td>155</td>
<td>6</td>
<td>-75.0</td>
<td>739.0</td>
</tr>

In [37]:
rows = []

for noodle in chickenoodle: 
    title = chickenoodle.find("div", {"class": "content_title"}).text
    tease = chickenoodle.find("div", {"class": "article_teaser_body"}).text
        
    data = {'title': title, 'tease': tease}
    rows.append(data)

df = pd.DataFrame(rows)

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [38]:


tabs = []
for tr in chickenoodle.find('tr'):
    tabs.append({
        'id': tr.find('td')[0].text,
        'terrestrial_date': tr.find('td')[1].text,
        'sol': tr.find('td')[2].text,
        'ls': tr.find('td')[3].text,
        'month': tr.find('td')[4].text,
        'min_temp': tr.find('td')[5].text,
        'pressure': tr.find('td')[6].text
        
        })

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?